.main {
    width: 80px;
    height: 25px;
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(209, 225, 255, 0.521);
    border-radius: 20px;
    padding-top: 0.2rem;
    margin: 0.5rem;

    font-size: 15px;
    text-align: center;
    font-weight: 500;
    color: #385F78;
    &:hover {
        color: #FBB205;
    }
    /* 385F78   FBB205 */

}
.category {
    display: inline-block;
    min-width: 4.5rem;
    background: #FBB205;
    border: 2px solid #FBB205;
    box-shadow: 2px 2px 10px #D1E1FF;
    border-radius: 20px;

    color: white;
    text-align: center;
    font-weight: 700;
}
